.wedding-page-title-container {
  text-align: center;
  padding: 50px;
}

.wedding-page-title {
  font-size: 70px;
  font-family: "Bad Script", cursive;
}

.wedding-flowers-img {
  width: 90%;
  max-width: 400px;
}

.wedding-page-subtext-container {
  text-align: center;
}

.wedding-page-subtext-title {
  font-size: 27px;
}

.wedding-page-subtext {
  font-size: 22px;
  width: 85%;
  max-width: 1000px;
  margin: 20px auto;
  font-family: "Bad Script", cursive;
  padding-bottom: 30px;
}

.meet-me-container {
  padding: 50px;
  text-align: center;
}

.meet-me-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.meet-me-img {
  width: 95%;
  max-width: 120px;
}

.meet-me-title {
  font-size: 55px;
}

.meet-me-subtext {
  font-size: 22px;
  width: 85%;
  max-width: 1000px;
  margin: 20px auto;
  font-family: "Bad Script", cursive;
}

.artist-img-container {
    padding: 30px
}

.artist-img {
  width: 95%;
  max-width: 450px;
  border-radius: 50%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-bottom: 30px;
}

.pricing-container {
  text-align: center;
  padding: 50px;
}

.pricing-title {
  font-size: 60px;
}

.size-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  margin: 50px;
}

.size-img {
  width: 99%;
  max-width: 500px;
  min-width: 200px;
}

.choose {
  font-size: 30px;
  padding: 50px;
}

.size-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px;
  margin: 50px;
}

.size-card {
    background-color: #f7e6e7;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 40px -20px;
    cursor: pointer;
}

.size-card:hover {
    background-color: #ffcdd3;
}

.size-card p:first-of-type{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    font-family: "Bad Script", cursive;
}

.size-card:hover p:first-child, .size-card:hover .size-btn {
    background-color: black;
    color: white;
}

.size {
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: "Bad Script", cursive;
}

.size-btn {
  padding: 10px 25px;
  font-size: 20px;
  font-family: "Bad Script", cursive;
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
}

.order-time-text {
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .wedding-page-title {
    font-size: 30px;
  }

  .wedding-page-subtext-title {
    font-size: 22px;
  }

  .wedding-page-subtext {
    font-size: 18px;
  }

  .meet-me-img {
    max-width: 70px;
  }

  .meet-me-title {
    font-size: 22px;
  }

  .meet-me-subtext {
    font-size: 18px;
  }

  .pricing-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pricing-title {
    font-size: 30px;
  }

  .choose {
    font-size: 22px;
  }

  .size-details-container {
    gap: 85px;
  }

  .size {
    font-size: 40px;
  }
}
